# Hugging Face Token (need access to FLUX.1-Redux-dev)
HF_TOKEN=your_huggingface_token_here

# Modal Token (get from: modal token new)
MODAL_TOKEN_ID=your_modal_token_id
MODAL_TOKEN_SECRET=your_modal_token_secret
